/*  */
  
.container{
    padding: 2rem;
    background-color: #1f2a48;
    margin:1rem 0;
    border-radius: .7rem;
    display: flex;
    
}
.user-image-container{
    width: 30%;
}
.user-image-container img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}
.user-info{
    width: 70%;

    
}
.main-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}
.name, .username{
    color:white;
}
.joined-text{
    font-size: .95rem;
    color:#9da5bf;
}
.biography{
    color:#5d6985;
}
.biography-container{
    margin-bottom: 1rem;
}
.some-stats{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #141c2d;
    border-radius: .7rem;
}
.some-stats div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.some-stats div h3{
    color:#9da5bf;
    font-size: 1rem;
}
.some-stats div p{
    color:white;
    font-weight: bold;
}

.more-info {
    margin-top: 2rem;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.data-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
i{
    margin-right: .7rem;
    color: white;
}
.data-container p{
    font-size: .9rem;
    color:white;
}
.loader{
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
  
@media screen  and (max-width:768px){
    .container{   
        display: flex;
        flex-direction: column;
    }
    .user-image-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }   
    .user-info{
        width: 100%;
    }
}